//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
}
html, body {
  height: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'SegueUI';
	src: url('../fonts/SegueUI.ttf');
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
body {
	font-family: 'SegueUI', sans-serif;
	color: #000;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -159px; 
}
#wrapper:after {
  content: "";
  display: block;
}
footer, #wrapper:after {
  height: 159px; 
}
#modal-feedback {
	width: 765px;
	height: 750px;
	background: url('../img/bgmodal.png') repeat;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	.mfp-close {
		width: 40px;
		height: 40px;
		background: url('../img/modal-close.png') no-repeat;
		text-indent: -999px;
		top: -20px;
		right: -15px;
	}
	.modal-inner {
		width: 575px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 25px;
		padding-bottom: 25px;

		h1 {
			color: #fff;
			font-size: 24px;
			text-align: center;
			font-weight: bold;
		}
		.contacts {
			width: 100%;
			background: #fff;
			margin-top: 15px;
			padding-top: 15px;
			padding-bottom: 10px;

			.cont {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;
				margin-left: 30px;

				div {
					margin-bottom: 5px;
					height: 20px;
					background-size: 20px 20px;

					p {
						padding-left: 21px;
						text-align: left;
						font-size: 14px;
						padding-top: 2px;

						span {
							display: inline-block;
						}
					}
				}
				.mts {
					background: url('../img/mts.png') no-repeat left center;

					span {
						width: 50px;
					}
				}
				.email {
					background: url('../img/email.png') no-repeat left center;

					span {
						width: 50px;
					}
				}
				.fax {
					background: url('../img/fax.png') no-repeat left center;

					span {
						width: 75px;
					}
				}
				.velcom {
					background: url('../img/velcom.png') no-repeat left center;

					span {
						width: 75px;
					}
				}
			}
		}
		.comment {
			margin-top: 20px;
			font-size: 14px;
			color: #fff;
		}
		.small-div {
			margin-top: 10px;
			height: 1px;
			width: 210px;
			border-top: 1px solid #fff;
			margin-bottom: 10px;
		}
		.req {
			font-size: 14px;
			color: #fff;
			margin-bottom: 15px;

			span {
				color: #ff3c32;
			}
		}
		form {

			* {
				font-family: 'SegueUI';
				outline: none;
			}
			.lab {
				font-size: 14px;
				color: #fff;

				span {
					color: #ff3c32;
				}
			}
			input[type=text], input[type=email] {
				width: 310px;
				padding: 10px 15px;
				border: none;
				background: #fff;
				font-size: 14px;
				color: #000;
				margin-bottom: 15px;
			}
			input[type=submit] {
				display: block;
				text-align: center;
				font-size: 16px;
				color: #2d3e51;
				width: 180px;
				margin-top: 25px;
				margin-left: auto;
				margin-right: auto;
				padding: 10px 0 10px 0;
				border: none;
				background: #fff;
			}
			input[type=submit]:hover {
				cursor: pointer;
			}
			textarea {
				width: 545px;
				padding: 10px 15px;
				border: none;
				resize: none;
				margin-bottom: 10px;
			}
			.upload {
				display: block;
				width: 195px;
				height: 30px;
				background: url('../img/file.png') no-repeat;
				margin-bottom: 25px;
			}
		}
	}
}
.inner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		color: #575757;
		font-size: 24px;
		text-align: center;
		font-weight: bold;
	}
}
header {
	width: 100%;
	min-width: 1000px;
	background: url('../img/bgheader.png') repeat-y top center;

	#logo {
		position: relative;
		width: 155px;
		height: 95px;
		display: block;
		float: left;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 100px;
		background: url('../img/logo.png') no-repeat center top;

		p {
			position: absolute;
			bottom: 0;
			color: #000;
			font-size: 14px;
		}
	}
	#contacts {
		margin-top: 50px;
		margin-left: 100px;
		float: left;

		.cont {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;

			div {
				margin-bottom: 5px;
				height: 20px;
				background-size: 20px 20px;

				p {
					padding-left: 21px;
					text-align: left;
					font-size: 14px;
					padding-top: 2px;

					span {
						display: inline-block;
					}
				}
			}
			.mts {
				background: url('../img/mts.png') no-repeat left center;

				span {
					width: 50px;
				}
			}
			.email {
				background: url('../img/email.png') no-repeat left center;

				span {
					width: 50px;
				}
			}
			.fax {
				background: url('../img/fax.png') no-repeat left center;

				span {
					width: 75px;
				}
			}
			.velcom {
				background: url('../img/velcom.png') no-repeat left center;

				span {
					width: 75px;
				}
			}
		}
	}
}
#topmenu {
	z-index: 10;
	position: absolute;
	width: 100%;
	top: 0;
	background: url('../img/bgtmline.png') repeat-x left top;
	background-size: 100% 30px;

	.inner {
		position: relative;
		background: url('../img/bgheadmenu.png') no-repeat top center;
		min-height: 50px;
		text-align: center;

		.topmenu {
			height: 100%;

			li {
				height: 50px;
				display: inline-block;
				vertical-align: top;
				margin-left: 3px;
				margin-right: 3px;

				a {
					color: #fff;
					display: inline-block;
					margin-right: -4px;
					margin-top: 13px;
					font-size: 14px;
					padding: 5px 10px;
				}
				a:hover {
					color: #75c5f0;
				}
				a.current {
					background: #fff;
					color: #000;
					border-radius: 5px;
				}
			}
			li:hover > .submenu {
				display: block;
			}
			li:last-child {
				margin-right: -4px;
			}
		}
		.submenu {
			position: absolute;
			bottom: -71px;
			display: none;
			text-align: center;

			li {
				height: inherit;
				display: block;
				background: #232221;
				width: 100px;
				border-bottom: 2px solid #42403e;

				a {
					margin: 0;
					padding: 10px 0 10px 0;
				}
			}
		}
		#feedback {
			position: absolute;
			right: 50px;
			top: 17px;
			background: url('../img/feedback.png') no-repeat left center;
			font-size: 14px;
			color: #868686;
			padding-left: 20px;
		}
		#feedback:hover {
			opacity: 0.8;
		}
	}
}
#slider {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 375px;
	border-bottom: 5px solid rgba(0,0,0,0.8);

	.slide {

		img {
			min-width: 1000px;
			height: 375px;
			width: 100%;
		}
		.slide-inner {
			position: relative;
			width: 100%;
			height: 100%;

			.slide-content {
				position: absolute;
				bottom: 20px;
				left: 47%;
				width: 485px;
				height: 135px;
				background: rgba(255, 255, 255, 0.9);
				border-radius: 5px;

				.content-inner {
					position: relative;
					height: 115px;
					margin-top: 20px;
					margin-left: 30px;

					h2 {
						font-size: 18px;
						color: #434343;
						font-weight: bold;
						margin-bottom: 15px;
					}
					a {
						font-size: 12px;
						color: #038085;
					}
					p {
						font-size: 14px;
					}

					.line {
						position: absolute;
						bottom: 20px;
						left: -30px;
						width: 485px;
						height: 1px;
						border-bottom: 1px solid #d4d3d1;
					}
					.sl, .sr {
						position: absolute;
						bottom: 10px;
						display: block;
						width: 30px;
						height: 30px;					
					}
					.sl, .sr, .sl:hover, .sr:hover {
						background: url('../img/slidersprites.png') no-repeat;
					}
					.sl {
						right: 105px;
						background-position: 0 0;
					}
					.sl:hover {
						background-position: -35px 0;
					}
					.sr {
						right: 55px;
						background-position: -70px 0;
					}
					.sr:hover {
						background-position: -105px 0;
					}
				}
			}
		}
	}
}
#services-main {
	background: #fff;
	border-bottom: 4px solid  #dadada;

	.services {
		padding-top: 70px;
		padding-bottom: 30px;

		.service {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 200px;
			margin-right: -4px;
			text-align: center;
			height: 135px;

			p {
				margin-top: 150px;
				font-size: 16px;
				color: #56b8ed;
			}
		}
		.service1 {
			background: url('../img/services1.png') no-repeat center bottom;
		}
		.service2 {
			background: url('../img/services2.png') no-repeat center bottom;
		}
		.service3 {
			background: url('../img/services3.png') no-repeat center bottom;
		}
		.service4 {
			background: url('../img/services4.png') no-repeat center bottom;
		}
		.service5 {
			background: url('../img/services5.png') no-repeat center bottom;
		}
	}
	.content {
		margin-top: 90px;
		margin-bottom: 70px;
		width: 680px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		.title {
			font-size: 16px;
			color: #56b8ed;
			margin-bottom: 10px;
		}
		.desc {

			p {
				font-size: 14px;
			}
		}
	}
}
#articles-main {
	background: #f4f4f8;
	min-width: 1000px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	border-bottom: 4px solid  #dadada;

	h1 {
		margin-bottom: 35px;
	}
	.article-block {
		display: inline-block;
		margin-right: 22px;
		vertical-align: top;
		width: 315px;
		margin-top: 35px;
		margin-bottom: 25px;

		.title {
			font-size: 16px;
			color: #56b8ed;
		}
		.title:hover {
			color: #000;
		}
		img {
			margin-top: 5px;
			width: 315px;
			height: auto;
			margin-bottom: 5px;
		}
		.date {
			font-size: 12px;
			color: #949dac;
			margin-bottom: 5px;
		}
		.article-content {

			p {
				font-size: 14px;
			}
		}
	}
	.articles {
		font-size: 12px;
		color: #56b8ed;
		text-decoration: underline;
		display: block;
		text-align: center;
	}
	.articles:hover {
		text-decoration: none;
	}
	.article-block:last-child {
		margin-right: -4px;
	}
}
footer {
	background: url('../img/bgfooter.png') repeat;
	width: 100%;
	min-width: 1000px;
	padding-top: 40px;
	padding-bottom: 100px;

	#logo {
		position: relative;
		width: 155px;
		height: 130px;
		display: block;
		float: left;
		margin-left: 30px;
		margin-top: 20px;
		background: url('../img/logo.png') no-repeat center top;

		p {
			position: absolute;
			color: #fff;
			font-size: 12px;
			text-align: center;
		}
		.f {
			bottom: 15px;
		}
		.l {
			bottom: 0;
		}
	}
	.contacts {
		float: left;
		margin-left: 80px;

		.footermenu {

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 25px;

				a {
					color: #fff;
					font-size: 14px;
				}
				a:hover {
					color: #75c5f0;
				}
			}
		}
		.info {
			margin-top: 35px;

			.title {
				color: #fff;
				font-style: 16px;
				margin-bottom: 13px;
			}

			.ct, .cc {
				display: inline-block;
				vertical-align: top;
				margin-right: -4px;
				font-size: 14px;
				margin-bottom: 5px;
			}
			.ct {
				color: #fff;
			}
			.cc {
				color: #c6c6c6;
				margin-left: 20px;
			}
		}
	}
	#social {
		float: right;
		margin-right: 30px;
		text-align: right;

		.social {
			margin-top: 50px;
			margin-bottom: 10px;

			.soc {
				display: inline-block;
				vertical-align: top;
				width: 33px;
				height: 33px;
				background: url('../img/socialsprites.png') no-repeat top left;
			}
			.vk {
				background-position: -344px 0;
			}
			.vk:hover {
				background-position: -306px 0;
			}
			.odn {
				background-position: -192px 0;
			}
			.odn:hover {
				background-position: -154px 0;
			}
			.fb {
				background-position: -38px 0;
			}
			.fb:hover {
				background-position: 0 0;
			}
			.tw {
				background-position: -268px 0;
			}
			.tw:hover {
				background-position: -230px 0;
			}
			.gp {
				background-position: -115px 0;
			}
			.gp:hover {
				background-position: -76px 0;
			}
		}
	}
}
#leftcol, #rightcol {
	float: left;
	margin-top: 50px;
}
#leftcol {
	width: 275px;

	.leftmenu {

		.menu-block {
			position: relative;
			margin-bottom: 25px;
			width: 240px;
			border-radius: 10px;
			border: 1px solid #dbdbdb;
			padding-top: 8px;
			padding-bottom: 8px;
			background: url('../img/menuarrow.png') no-repeat 220px 14px;

			img {
				position: absolute;
				left: -20px;
				top: -5px;
			}
			p {
				text-align: right;
				color: #56b8ed;
				margin-right: 30px;
			}
			.firstlevel {
				display: none;
				margin-left: 10px;
				margin-top: 20px;

				li {
					margin-top: 15px;
					margin-bottom: 15px;

					a {
						color: #74c2ef;
						font-size: 14px;
					}
					a:hover {
						color: #575757;
					}
				}
			}
			ul.secondlevel {
				display: none;
				border-left: 1px solid #74c2ef;
				padding-left: 5px;
			}
		}
		.menu-block:hover {
			cursor: pointer;
		}
	}
}
#rightcol {
	text-align: left;
	width: 705px;
	padding-left: 15px;

	.title {
		color: #575757;
		font-size: 28px;
		text-align: center;
		margin-bottom: 25px;
	}
	h1 {
		font-size: 16px;
		text-align: left;
		color: #56b8ed;
	}
	.content {
		margin-top: 40px;
		margin-bottom: 20px;
		width: 650px;

		p {
			font-size: 14px;
		}
	}
	.date {
		font-size: 12px;
		color: #949dac;
	}

	#pagination {
		margin-bottom: 80px;

		ul {
			text-align: center;

			li {
				display: inline-block;
				margin-right: 5px;

				a {
					font-size: 18px;
					color: #949dac;
				}
				a:hover, a.current {
					color: #393939;
				}
			}
		}
	}
	#article {
		margin-bottom: 70px;

		img {
			width: 670px;
			height: auto;
			border-radius: 5px;
			margin-bottom: 15px;
		}
	}
	#galleries {
		margin-bottom: 50px;

		#gallery-wrap {

			.gallery-block {
				width: 210px;
				height: 140px;
				float: left;
				margin-right: 25px;
				margin-bottom: 15px;

				img {
					width: 210px;
					height: 120px;
					margin-bottom: 5px;
				}
				a {
					display: block;
					color: #000;
					text-align: center;
					font-size: 14px;
				}
				a:hover {
					color: #56b8ed;
				}
			}
		}
	}
	#articles {
		margin-bottom: 50px;

		#articles-wrap {

			.article-block {
				margin-bottom: 30px;

				img {
					width: 315px;
					height: 140px;
					border-radius: 5px;
					float: left;
					margin-right: 5px;
				}
				.content {
					margin-top: 15px;
					margin-bottom: 15px;
				}
				a {
					font-size: 16px;
					text-align: left;
					color: #56b8ed;
				}
				a:hover {
					color: #000;
				}
			}
		}
	}
	#contacts-page {
		margin-bottom: 50px;

		#contacts-wrap {

			.map {
				float: left;
				margin-right: 20px;

				img {
					width: 325px;
					height: 275px;
				}
			}
			.info {
				padding-top: 30px;

				.contact {
					margin-bottom: 8px;
				}

				.ct, .cc {
					display: inline-block;
					vertical-align: top;
					margin-right: -4px;
				}
				.cc {
					margin-left: 25px;
				}
			}
		}
	}
	#gallery-page {
		margin-bottom: 50px;

		#slider-inner {
			margin-top: 15px;
			border-bottom: none;
			width: 670px;
			height: 335px;
			position: relative;

			.slide1 {

				img {
					width: 670px;
					height: 335px;
				}
			}
		}
		#slider-inner-nav {
			width: 685px;
			margin-top: 15px;
			margin-bottom: 15px;

			.nav-link {
				width: 100px;
				height: 60px;
				float: left;
				margin-right: 14px;

				img {
					width: 100px;
					height: 60px;
				}
			}
		}
	}
}